@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./b4.jpg");
  /* background: rgba(0, 0, 0, 0.83); */
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.201);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
